@media screen and (max-width: 320px) {
  body {
    display: grid;
  }

  main section #Services {
    display: flex;
    padding-left: 400px;
    flex-direction: row;
    max-height: 100vh;
  }
}

@media screen and (min-width: 770px) and (max-width: 1024px) {
  body {
    width: 300px;
  }
  #Services {
    display: flex;
    justify-content: center;
    min-width: 50cm;
  }
  .overlaytext .second .icons {
    font-size: 16px;
  }
  #Ourwork {
    width: 50cm;
  }
}
