@media screen and (max-width: 320px) {
  body {
    display: grid;
  }
  #Services {
    padding-left: 100px;
  }
  .overlaytext .second .icons {
    display: grid;
  }
  #Ourwork {
    display: grid;
  }
  #Contact {
    padding-bottom: 100px;
  }
}
