body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  overflow-x: hidden;
}

header {
  width: 100%;
  height: 65px;
  background-color: #333;
  padding: 15px;
  position: fixed;
}

header li {
  display: inline;
  color: white;
  padding-left: 45px;
}

header section nav ul a {
  list-style-type: none;
  color: white;
  text-decoration: none;
}

.fa-user-circle {
  color: white;
  font-size: 25px;
}

main section {
  width: 100%;
  height: 300px;
}

video {
  width: 100%;
  position: relative;
  left: 0;
  z-index: -1;
  background-repeat: no-repeat;
}

main section .icons a {
  color: white;
  font-size: 40px;
}

.overlaytext {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.second {
  position: absolute;
  top: 10%;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icons {
  position: absolute;
  font-size: 50px;
  top: 100%;
  bottom: 0;
  left: 45%;
  right: 45%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  list-style-type: none;
}

main section .h1 {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  position: relative;
}

main section .wrap {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  margin-top: 50px;
  margin-left: 35px;
}

main section .wrap li {
  list-style-type: none;
  font-size: 100px;
}

main section #Services {
  height: 550px;
  background-image: url(https://static.wixstatic.com/media/1e47b2_cd5df08585b64f40a575e620ed3bf997.jpg/v1/fill/w_1903,h_650,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/1e47b2_cd5df08585b64f40a575e620ed3bf997.jpg);
  color: white;
  z-index: 2;
}

main section .overlay h1 {
  font-weight: 500;
  font-size: 60px;
}

main section .second h3 {
  font-size: 30px;
  font-weight: 300;
}

main #Services h1 {
  font-weight: 200;
  font-size: 50px;
}

main #Services h2 {
  font-weight: 300;
  font-size: 35px;
}

main #Services p {
  font-weight: 200;
  font-size: 20px;
}

main #Ourwork .bottom img {
  width: 400px;
  height: 100%;
}

main #Ourwork .section1 img {
  width: 400px;
  height: 300px;
  margin-top: 30px;
  margin-left: 10px;
}

main #Ourwork .section2 img {
  width: 400px;
  height: 300px;
  margin-left: 10px;
  margin-top: 20px;
}

main #Ourwork h1 {
  font-weight: 300;
  margin-top: 100px;
}

main #Ourwork p {
  font-size: 25px;
  font-weight: 200;
  margin-top: 30px;
}

main #AboutUs {
  width: 700px;
  display: grid;
}

main #AboutUs {
  background-image: url(https://static.wixstatic.com/media/1e47b2_0d6c77b5ffd04c0e92f186a8193c3e3c.jpg/v1/fill/w_1867,h_1080,al_c,q_90,enc_auto/1e47b2_0d6c77b5ffd04c0e92f186a8193c3e3c.jpg);
  height: 90vh;
  width: 100%;
  margin-top: 100px;
}

main #AboutUs .box {
  background-color: whitesmoke;
  margin-top: 100px;
  max-width: 800px;
  margin-left: 27%;
  max-height: 700px;
}

main #AboutUs .box p {
  font-size: 20px;
  margin-left: 90px;
  margin-right: 90px;
}

main .background {
  background-image: url(https://static.wixstatic.com/media/9b6c7d_54033d6d82c24d8e9be8212d3a8febe6.jpg/v1/fill/w_1903,h_520,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/9b6c7d_54033d6d82c24d8e9be8212d3a8febe6.jpg);
  background-attachment: fixed;
  margin-top: 100px;
  position: inherit;
  height: 50vh;
}

main .forms {
  margin-top: 0px;
  background-image: url(https://static.wixstatic.com/media/1e47b2_0d6c77b5ffd04c0e92f186a8193c3e3c.jpg/v1/fill/w_1867,h_1080,al_c,q_90,enc_auto/1e47b2_0d6c77b5ffd04c0e92f186a8193c3e3c.jpg);
  height: 100vh;
}

main .forms .car {
  margin-top: 100px;
}

input[type="submit"] {
  width: 100%;
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: grey;
}

.forms .input {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-top: 100px;
  width: 500px;
  height: 50vh;
  margin-left: 35%;
}

.forms .input form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  align-items: flex-start;
}

main #Contact {
  background-color: #333;
  height: 200px;
}

main #Contact ul {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  list-style-type: none;
  gap: 30px;
  margin-top: 60px;
}

main #Contact p {
  color: white;
  font-size: 15px;
}

main #Contact ul li a {
  color: white;
}

section aside {
  display: inline-block;
  margin-top: 200px;
  margin-left: 50px;
  margin-right: 100px;
}
